/* classes */
.pagebody {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}

.topheader {
    background-image: url('../images/ugly/geocities.gif');
    background-repeat: repeat-x;
    height: 50px;
}

.mainheader {
    background-image: url('../images/ugly/geocities.gif');
    height: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 25px;
    padding-top: 25px;
}

.name {
    color: DeepPink;
    font-size: 300%;
}

.title {
    color: DeepPink;
    font-style: italic;
    font-size: 150%;
}

.contentpane {
    height:auto;
    width:800px;
    float:left;
    background-image: url('../images/ugly/bluebrick.gif');
    color: Yellow;
}

.contentitem {
    height: 400px;
    width: 700px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
    padding-left: 50px;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
}

.contentitem1{
    background-image: url('../images/ugly/nyancat.jpg');
}

.contentitem2{
    background-image: url('../images/ugly/lightningbolt.jpg');
}

.contentitem3{
    background-image: url('../images/ugly/dog.jpg');
}

.leftbackground {
    background-position: 50px 50px; 
}

.rightbackground {
    background-position: 600px 50px; 
}

.contentparagraph {
    width: 500px;
    height: auto;
}

.leftcontent {
    float: left;
}

.rightcontent {
    float: right;
}

.sidebar {
    background-color: Yellow;
    height:750px;
    width:200px;
    float:right;
    text-align: center;
    color: Teal;
}

.sidebartitle {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-image: url('../images/wood.jpeg');
    background-repeat: repeat-x;
    height: 20px;
}

/* html elements */

body {
    background-color: White;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 120%;
}

h1 { margin-bottom: 0; }
h2 { margin-bottom: 0; }
h3 { margin-bottom: 0; }
h4 { margin-bottom: 0; }
h5 { margin-bottom: 0; }
h6 { margin-bottom: 0; }

p.content {
    width: 600px;
    height: 150px;
}
