/* css added my me */

/* Themed page with paper-like background */
/* Paper gif source added to README */
body { background-image: url("../paperImages/paper1.gif");
       font-family: Baskerville, "Times New Roman", Times, serifpageContent; }

.pageContent { width: 750px;
                margin-left: auto;
            margin-right: auto; }

/* theme paragraphs */
p { margin-top: .75em;
    margin-bottom: .75em;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;}

/* theme headers */
h1 { text-align: left; }
h2 { text-align: left; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }

/* theme images*/
.figcenter { margin-left: auto;
             margin-right: auto;
             text-align: center; } 
/* theme image captions*/
.figcaption { text-align: center; 
              font-style: italic;
              font-size: 90%; }
